<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Loan Department" >
    <listeners>
        <listener class-name="lecture.testNGTutorial.Listeners"/>
    </listeners>

    <test name="Personal loan">
        <parameter name="URL" value="personalloan.com"/>

        <classes>
            <class name="lecture.testNGTutorial.Day_01">
                <methods>
                    <include name="Demo"/>
                </methods>
            </class>

            <class name="lecture.testNGTutorial.Day_02"/>
            <class name="lecture.testNGTutorial.Day_04"/>

        </classes>
    </test>

    <test name="Car Loan">

        <parameter name="URL" value="carloan.com"/>
        <parameter name="APIKey/usrname" value="123456"/>

        <classes>
            <class name="lecture.testNGTutorial.Day_03">
                <methods>
                    <exclude name="API.*"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
